* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}   

.cadastro {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 25px;
    width: 350px;
    background-color: white;


}

form h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Signika Negative, sans-serif;
}

.cadastro #input-cadastro {
    height: 30px;
    border: none;
    text-indent: 5px;

}

.botao-confirmar {
  
    padding: 0.4rem;
    width: 100%;
    align-items: center;
    background: #EC1D23;
    cursor: pointer;
    color:white;
    font-size: 10pt;
    font-weight: 200;
    border-radius: 4px;

    
   
}